@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #f7f3e5;
    --cor-secundaria: #5fc1fa;
    --cor-destaque: #C92BFC;
}

body {
    background: radial-gradient(#411d96,#C92BFC);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Chakra Petch', sans-serif;
    color: var(--cor-principal);
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.card{
    background-color: #c8d0ecc0;
    
}

.modal-content{
    background-color: #1f2c58;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}
